@tailwind base;
@tailwind components;
@tailwind utilities;


/* Medium 风格的小优化 */
:root { color-scheme: light; }
html, body, #root { height: 100%; }
body { font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji"; }
